.footer-container {
  /* hacer que footer ocupe todo el width */
  width: 100%;
  /* hacer que footer ocupe todo el height */
  height: 100%;
  /* backgroud para modo oscuro */
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;

  
}

.footer-container_logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}


.footer-copyrigh-message {
  font-size: 12px;
  margin-top: 10px;
}

.footer-copyrigh-message > p {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}