.button-icon {
    display: inline ;
}   

.drop-zone img {
    max-width: 100%;
}

.drop-zone {
    min-width: 100% !important;
    min-height: 300px;
    border: 4px dashed;
    border-color: var(--primary-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.drop-image > input {
    left: 100% !important;
}

.drop-image span {
    color: white !important;
}

.fields-container > div,
.user-form > div {
    margin-bottom: 20px;
}
