.modal_container_form {
  /* ubicar modal en el medio de la pagina */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal_container_inputs {
  background-color: rgb(253, 253, 253);
  box-shadow: 35px 35px 70px #a3a3a9;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid rgb(50, 147, 232);
  width: 35%;
  height: 590px;
}

.modal_container_form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.modal_container_form-input > label {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(79, 82, 81);
}

.content_modal_form_button {
  display: flex;
  width: 100%;
  justify-content: end;
}

.modal_container_inputs > button {
  background-color: #18152e;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.modal_container_inputs > h2 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.modal_container_form_close {
  color: #aaa;
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.modal_container_form-input input {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #18152e;
}

.modal_container_form-input textarea {
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #18152e;
}
.description-edit-textarea {
  font-size: 28px;
}
.title_edit_content {
  width: 260px;
}

.comments-button-allpublish {
  margin-left: 10px;
}
